* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cairo", "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
}
header .content {
  padding: 0px 100px;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .left {
  width: 32%;
  height: 25px;
}
header .left a {
  font-size: 18px;
  color: gray;
}
header .left input {
  width: 300px;
  font-size: 22px;
  color: gray;
  margin-left: 20px;
  border: none;
  outline: none;
  transition: all 0.5s ease;
}
header .left input:focus {
  transform: scale(1.1);
  font-size: 15px;
}
header .center {
  width: 32%;
  height: 25px;
}
header .center h1 {
  width: 200px;
  border: 2px solid black;
  padding: 5px;
  color: gray;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
}
header .right {
  width: 32%;
  height: 25px;
  text-align: right;
}
header .right a {
  font-size: 25px;
  color: gray;
  margin-left: 15px;
}
header .right a:hover {
  color: rgb(104, 103, 103);
}
header .bottom {
  width: 100%;
  height: 100px;
}
header .bottom ul {
  cursor: pointer;
  width: 100%;
  height: 80px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgba(128, 128, 128, 0.15);
}
header .bottom ul select {
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(102, 102, 102);
  outline: none;
}
header .bottom ul select:hover {
  color: rgba(138, 39, 231, 0.835);
}
header .bottom ul li:hover {
  color: rgba(138, 39, 231, 0.835);
}
header .bottom ul li {
  margin-left: 18px;
  font-size: 20px;
  color: rgb(128, 127, 127);
  font-weight: bold;
}
header .path {
  width: 100%;
  height: 80px;
  background-color: #edf2f46c;
  padding: 0px 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .path p {
  font-size: 22px;
  font-weight: 600;
}
header .path p .sp1 {
  color: blueviolet;
}
header .path p .sp2 {
  margin: 0px 10px;
  color: blueviolet;
}
.shop-pro {
  width: 100%;
  min-height: 100vh;
  border-bottom: 2px solid rgba(128, 128, 128, 0.15);
}
.shop-pro .content {
  padding: 80px;
  display: flex;
}
.shop-pro .content .aside {
  padding: 40px;
  width: 350px;
}
.shop-pro .content .aside .asd1 {
  padding: 20px;
  width: 270px;
  height: 180px;
  border: 2px solid rgba(128, 128, 128, 0.276);
  margin-bottom: 20px;
}
.shop-pro .content .aside .asd1 h2 {
  margin-bottom: 15px;
  font-weight: 400px;
}
.shop-pro .content .aside .asd1 .cat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.shop-pro .content .aside .asd2 {
  padding: 20px;
  width: 270px;
  border: 2px solid rgba(128, 128, 128, 0.276);
}
.shop-pro .content .aside .asd2 h2 {
  margin-bottom: 15px;
  font-weight: 400px;
}
.shop-pro .content .aside .asd2 .filter {
  margin-bottom: 18px;
}
.shop-pro .content .aside .asd2 .filter input {
  width: 200px;
}
.shop-pro .content .aside .asd2 .filter p {
  color: lightslategray;
  font-weight: 600;
}
.shop-pro .content .aside .asd2 .size {
  margin-bottom: 15px;
}
.shop-pro .content .aside .asd2 .size h3 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
}
.shop-pro .content .aside .asd2 .size input {
}
.shop-pro .content .aside .asd2 .size label {
  padding-left: 5px;
  font-size: 20px;
}

.shop-pro .content .aside .asd2 .color {
  margin-bottom: 15px;
}
.shop-pro .content .aside .asd2 .color h3 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
}
.shop-pro .content .aside .asd2 .color input {
}
.shop-pro .content .aside .asd2 .color label {
  padding-left: 5px;
  font-size: 20px;
}
.shop-pro .content .right {
  padding: 40px;
  width: 100%;
}
.shop-pro .content .right nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.shop-pro .content .right nav h1 {
  font-size: 30px;
}
.shop-pro .content .right nav select {
  width: 150px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  background-color: #edede9;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 5px;
  color: green;
}
.shop-pro .content .right nav select:focus {
  background-color: gray;
  color: darkslateblue;
}
.shop-pro .content .right nav option {
  background-color: white;
}
.shop-pro .products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shop-pro .right .products .pro1 {
  width: 400px;
  height: 600px;
  background-color: white;
  text-align: center;
  margin-right: 25px;
  margin-bottom: 25px;
  border: 2px solid rgba(128, 128, 128, 0.523);
}
.shop-pro .right .products .pro1 .pho1,
.pho2,
.pho3 {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
}
.shop-pro .right .products .pro1 .name {
  color: blueviolet;
  margin-bottom: 7px;
  font-size: 22px;
}
.shop-pro .right .products .pro1 .des {
  font-size: 20px;
  margin-bottom: 7px;
  color: lightslategray;
}
.shop-pro .right .products .pro1 .price {
  color: blueviolet;
  font-size: 20px;
  font-weight: bold;
}

.picture {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.15);
}
.picture .pic1 {
  position: relative;
}
.picture .pic1 .des {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.picture .pic1 .des p {
  color: white;
  font-weight: bold;
}
.picture .pic1 .des h2 {
  color: white;
  font-size: 40px;
}
.picture .pic1 img {
  width: 500px;
  height: 600px;
  /* opacity: 0.9; */
  background-image: linear-gradient(to left, blue 40%, red);
  transition: all 0.5s ease;
}
.picture .pic1 img:hover {
  transform: scale(1.1);
}

.contact {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  padding: 60px 100px;
}
.navigation h1 {
  margin-bottom: 20px;
}
.navigation .content {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.navigation .content .nav1 p a {
  color: lightslategray;
  font-size: 20px;
  font-weight: 500;
}
.navigation .content .nav1 p {
  margin-bottom: 20px;
}
.promo {
  width: 400px;
}
.promo h1 {
  margin-bottom: 20px;
}
.promo img {
  width: 400px;
  margin-bottom: 15px;
  border-radius: 6px;
}
.promo h3 {
  color: blueviolet;
  font-weight: 600;
  font-size: 21px;
}
.promo p {
  font-size: 18px;
  color: lightslategray;
}
.communicat {
  width: 500px;
}
.communicat h1 {
  margin-bottom: 20px;
}
.communicat .links {
  margin-bottom: 20px;
}
.communicat a {
  font-size: 25px;
  color: blueviolet;
}
.communicat .email {
  width: 400px;
}
.communicat .email h2 {
  font-weight: 500;
  margin-bottom: 10px;
}
.communicat .email div {
  width: 300px;
  height: 50px;
  position: relative;
}
.communicat .email div input {
  width: 300px;
  height: 50px;
  border: 1px solid rgba(119, 136, 153, 0.624);
  outline: none;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
}
.communicat .email div button {
  background-color: blueviolet;
  color: white;
  width: 80px;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  right: 5px;
  top: 5px;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
}
footer {
  width: 100%;
  height: 20vh;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  width: 100%;
  font-size: 20px;
  color: lightslategray;
  display: flex;
  justify-content: center;
}
footer p a {
  color: blueviolet;
  padding: 0px 5px;
}
footer p i {
  padding: 0px 5px;
}
